@media (min-width: 576px) {
  .label-duration {
    text-align: right;
    padding-right: 9px;
  }
  .start-duration {
    padding-left: 1px;
  }
}

.start-duration {
  width: 100%;
}

.nonBusinessDay {
  background-color: #ffeedd;
}

.toDay {
  background-color: #e3fcef;
}
